@charset "UTF-8";

@use "base/fonts" as *;
@use "base/variable" as *;
@use "base/mixin" as *;
@use "base/reset" as *;
@use "base/container" as *;

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: to_vw(12);
    position: relative;
    width: 100%;
    height: 100vh;
}


.carousel-option {
    position: absolute;
    top: 1rem;
    right: 2rem;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: to_vw(8);
    }

    span {
        font-family: "AustinNewsDeckWeb", sans-serif;
    }

    button {
        padding: 0 to_vw(2);
        margin: 0 to_vw(2);
        font-family: "AustinNewsDeckWeb", sans-serif;

        &:not(.active):hover {
            text-decoration: underline;
            opacity: .5;
        }

        &.active {
            color: orchid;
            text-decoration: underline;
        }
    }
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: to_vw(333);
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    font-family: "AustinNewsDeckWeb", sans-serif;
    font-weight: bold;

    &.clone {
        background: seashell;
    }

    &.active {
        background: #efebe9;
        color: saddlebrown;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.controls {
    display: flex;
    gap: to_vw(10);

    button {
        font-family: "AustinNewsDeckWeb", sans-serif;

        &:hover {
            text-decoration: underline;
        }
    }
}