@charset "UTF-8";

@font-face {
    font-family: "AustinNewsDeckWeb";
    src: url("./../../fonts/AustinNewsDeckWeb-Medium.eot");
    src: url("./../../fonts/AustinNewsDeckWeb-Medium.eot?#iefix") format("embedded-opentype"),
    url("./../../fonts/AustinNewsDeckWeb-Medium.woff2") format("woff2"),
    url("./../../fonts/AustinNewsDeckWeb-Medium.woff") format("woff"),
    url("./../../fonts/AustinNewsDeckWeb-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}