@charset "UTF-8";
@use "sass:math";
@use "sass:string";
@use "sass:meta";
@use "sass:map";
@use "variable" as *;

// media query
$breakpoints: (
    xm: 361px,
    mobile: 768px,
    tablet: 1025px,
    laptop: 1367px,
    xl: 1540px,
);

@mixin media($from: false, $until: false, $and: false, $or: false, $etc: false, $media-type: all) {
    /// ❓ 선택값
    /// $from, $until : $breakpoints or number
    /// $and : 조건 연산자
    /// 예) @include media($from: "sm", $until: 768px, $and:"orientation: landscape")
    /// media(false, tablet, $etc:", (max-width: 1366px) and (pointer: coarse)")
    ///
    $min-width: 0;
    $max-width: 0;
    $query: "";

    @if $from {
        @if meta.type-of($from) == number {
            $min-width: $from;
        } @else {
            $min-width: map.get($breakpoints, $from);
        }
    }
    @if $until {
        @if meta.type-of($until) == number {
            $max-width: $until - 1px;
        } @else {
            $max-width: map.get($breakpoints, $until) - 1px;
        }
    }

    @if $min-width != 0 {
        $query: $query + " and (min-width: " + $min-width + ")";
    }
    @if $max-width != 0 {
        $query: $query + " and (max-width: " + $max-width + ")";
    }
    @if $and {
        $query: $query + " and (" + $and + ")";
    }
    @if $or {
        $query: $query + " or (" + $or + ")";
    }
    @if $etc {
        $query: $query + " " + $etc;
    }

    @if ($media-type == "all" and $query != "") {
        $media-type: "";
        $query: string.slice(string.unquote($query), 6);
    }

    @media #{$media-type + $query} {
        @content;
    }
}

@function to_vw($px-size) {
    $minus: 0;
    $size: 0;
    $resultVw: 0;
    $a: a;

    @if $px-size < 0 {
        $px-size: $px-size * -1;
        $minus: 1;
    }

    @if $minus > 0 {
        $size: string.unquote("calc(calc(#{$px-size}px * var(--base-ratio)) * -1)");
        $resultVw: string.unquote("calc(calc(calc(#{$px-size} / var(--base-size)) * var(--base-percent)) * -1)");
        @return m#{$a}x(#{$resultVw});
    } @else {
        $size: string.unquote("calc(#{$px-size}px * var(--base-ratio))");
        $resultVw: string.unquote("calc(calc(#{$px-size} / var(--base-size)) * var(--base-percent))");
        @return m#{$a}x(#{$size}, #{$resultVw});
    }
}

// fontSize
@mixin fontSize($font-size: null, $line-height: null, $letter-spacing: null) {
    @if $font-size == null {
        font-size: 1rem;
    } @else {
        font-size: to_vw($font-size);
    }

    @if $line-height == null {
        line-height: 1;
    } @else if $line-height == H120 {
        line-height: calc(120 / 100 * 1);
    } @else if $line-height == H130 {
        line-height: calc(130 / 100 * 1);
    } @else if $line-height == H150 {
        line-height: calc(150 / 100 * 1);
    } @else if $line-height == H160 {
        line-height: calc(160 / 100 * 1);
    } @else if $line-height == H180 {
        line-height: calc(180 / 100 * 1);
    } @else {
        line-height: calc($line-height / $font-size);
    }

    @if $letter-spacing == null {
        letter-spacing: -0.02em;
    } @else {
        letter-spacing: calc($letter-spacing / 1000 * 1em);
    }
}

