@charset "UTF-8";

@use "variable" as *;
@use "mixin" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: unset;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}


